# Logical Operators

In [2]:
a = 10
b = 5

print((a > b) or (b > a))
print((a < b) and (b < a))
print((not(a < b) and (b < a)))

True
False
True

# Expressions

In [7]:
a = 90
b = 12
c = 80

print(a + (b * c) + (c -a))
print(b * (c - a) + (a/b))
print((c + a) * (b +a) * (c/a))

1040
-112.5
15413.333333333332

In [11]:
True * False

True * True

not(True) * False

True

# Membership Operators

In [15]:
lst_a = [1,2,3,4]
lst_b = [1,2,3,4]

print(lst_a is lst_b)

print(lst_a == lst_b)



print(lst_a is not lst_b)

print(lst_a != lst_b)

False
True
True
False

In [16]:
print(id(lst_a))
print(id(lst_b))

140719775576576
140719775572864

In [18]:
a = 2
b = 2

print(id(a))
print(id(b))
print(a is b)

140719859548432
140719859548432
True

In [20]:
str1 = "Krish"
str2 = "Krish"

print(id(str1))
print(id(str2))

print(str1  is str2)

140719775608560
140719775608560
True

In [21]:
str1 = "Krish"
str2 = "Krish1"

print(id(str1))
print(id(str2))

print(str1  is str2)

140719775608560
140719775543600
False

# Comaprision Operators

In [22]:
a = 10
b = 5

print(a < b)
print(a <= b)
print(a > b)
print(a >= b)
print(a == b)
print(a != b)

False
False
True
True
False
True

# Arithmetic Operators

In [24]:
a = 10
b = 5

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)

15
5
50
2.0
2
0

# Relational Operators

In [1]:
a = 10
b = 5

print(a < b)
print(a > b)
print(a <= b)
print(a >= b)
print(a == b)
print(a != b)

False
True
False
True
False
True

# Bitwise Operators

In [25]:
a = 10
b = 5

print(a & b)
print(a | b)
print(a ^ b)
print(a  & ~b)
print(a << 2)
print(b >> 1)

0
15
15
10
40
2

# Strings

In [26]:
str = 'Welcome to Data Science Masters'

print(str)
print(type(str))

Welcome to Data Science Masters
<class 'str'>

In [27]:
# Strings are immutable
str[1] = 'k'
print(str)

TypeError: 'str' object does not support item assignment

In [28]:
# Indexing in strings
print(str[2:])

lcome to Data Science Masters

In [29]:
for i in str:
    print(i, end = ' ')

W e l c o m e   t o   D a t a   S c i e n c e   M a s t e r s

In [34]:
# slicing in strings

print(str[4:10])
print(str[11:15])
print(str[-1])
print(str[-7:-5])
print(str[-7:-3])

ome to
Data
s
Ma
Mast

In [35]:
name = "Karthik"
print(name[-5:4])

rt

In [43]:
print(str)
print(str[::2])

# string in reverse form
print(str[::-1])
print(str[::-2])
print(str[::-3])
print(str[4::-1])

Welcome to Data Science Masters
Wloet aaSineMses
sretsaM ecneicS ataD ot emocleW
sesMeniSaa teolW
stMci aoecW
ocleW

In [47]:
print(name)
print(name[4::-1])
print(name[2::-1])

Karthik
htraK
raK

In [52]:
course_name = "Data Science Masters"
print(course_name[6:12])

cience

In [51]:
print(course_name.index('D'))

0

In [54]:
print(course_name[12:6:-1])

 ecnei

In [55]:
print(course_name[12:4:-1])

 ecneicS

In [56]:
print(course_name[12:5:-1])

 ecneic

In [57]:
# Replication in Strings
print(course_name * 5)

Data Science MastersData Science MastersData Science MastersData Science MastersData Science Masters

In [58]:
# length of the string
print(len(course_name))

20

In [67]:
print(course_name)
# find = It is used to return the index of the first occurance of the character for which we are finding
print(course_name.find('S'))
print(course_name.find('a'))
print(course_name.find('z'))
print(course_name.find('a',2,10))

Data Science Masters
5
1
-1
3

In [68]:
# count = It returns the count of the occurances of the characters in the tsring.
print(course_name.count('a'))

3

In [69]:
# split() = It breaks the string into parts
print(course_name.split(' '))

['Data', 'Science', 'Masters']

In [72]:
# partition() = It breaks the string into parts based on the partition value specified.
print(course_name)
print(course_name.partition('S'))

Data Science Masters
('Data ', 'S', 'cience Masters')

In [74]:
# lower case = It returns the string in lower case

print(course_name.lower())

data science masters

In [75]:
# upper case = It returns the string in upper case

print(course_name.upper())

DATA SCIENCE MASTERS

In [76]:
# title = It retunne the first letter of every word in capital
print(course_name.title())

Data Science Masters