# Lists

A list is a set of elements which are enclosed within square brackets.

It is mutuable

It can be changed at the respective index position.

It begins from 0 and ends till (n-1) position.

In [3]:
# empty list
empty = []
print(empty)

# type of list
print(type(empty))

list1 = ["Parag","Pujari","Motherson",27]
print(list1)

# call the elements using list
x = list([1,2,3,4,5,6,7,8,9])
print(x)

# split the sentence
text = "Parag Pujari is working in Motherson Company"
print(text.split(" "))

ans = text.split(" ")
print(ans)

# indexing in the strings
result = ans[4]
print(result)

print(ans[:5])

# reversing the string
print(ans)
print(ans[::-1])

print(ans[::-3])

# lists are mutuable
x = ["Data", "Science" , "Masters"]
print(x)

x[2] = "Program"
print(x)

[]
<class 'list'>
['Parag', 'Pujari', 'Motherson', 27]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
['Parag', 'Pujari', 'is', 'working', 'in', 'Motherson', 'Company']
['Parag', 'Pujari', 'is', 'working', 'in', 'Motherson', 'Company']
in
['Parag', 'Pujari', 'is', 'working', 'in']
['Parag', 'Pujari', 'is', 'working', 'in', 'Motherson', 'Company']
['Company', 'Motherson', 'in', 'working', 'is', 'Pujari', 'Parag']
['Company', 'working', 'Parag']
['Data', 'Science', 'Masters']
['Data', 'Science', 'Program']

In [4]:
# concatenation in the lists
ans

print(ans + ['SQL Technlogy'])

print(ans + [['He is working in SQL Technology']])

print(ans[4])

['Parag', 'Pujari', 'is', 'working', 'in', 'Motherson', 'Company', 'SQL Technlogy']
['Parag', 'Pujari', 'is', 'working', 'in', 'Motherson', 'Company', ['He is working in SQL Technology']]
in

In [5]:
print(ans)

['Parag', 'Pujari', 'is', 'working', 'in', 'Motherson', 'Company']

In [6]:
x= ans + [['new element', 3]]
print(x)

['Parag', 'Pujari', 'is', 'working', 'in', 'Motherson', 'Company', ['new element', 3]]

In [7]:
# replication in lists
x = ['Data', 'Science', 'Masters']
ans = x * 2
print(ans)

['Data', 'Science', 'Masters', 'Data', 'Science', 'Masters']

In [8]:
# check if the word is present in the string
str = ['PW', 'Skills', 'Data', 'Science', 'Masters']
for i in str:
    if(i == 'PW'):
        print(i)

PW

In [9]:
# Append operation
list1 = ['one','two','three','four','five']
ans = list1.append('six')
print(ans)

None

In [10]:
list1

['one', 'two', 'three', 'four', 'five', 'six']

In [11]:
# extend operation
list2 = ['six','seven','eight','nine','ten']
print(list1.extend(list2))

None

In [12]:
print(list1)

['one', 'two', 'three', 'four', 'five', 'six', 'six', 'seven', 'eight', 'nine', 'ten']

In [13]:
lst1 = ["Zebra","Monkey","Donkey","Lion"]
lst2 = [5,6,2,9,5,8,6]

print(lst1)

# convert the words into ASCII characters
print(min(lst1))
print(max(lst1))


print(lst2)

print(min(lst2))
print(max(lst2))

['Zebra', 'Monkey', 'Donkey', 'Lion']
Donkey
Zebra
[5, 6, 2, 9, 5, 8, 6]
2
9

In [14]:
# insert

print(list1)

x= list1.insert(3,'eleven')
print(x)

['one', 'two', 'three', 'four', 'five', 'six', 'six', 'seven', 'eight', 'nine', 'ten']
None

In [15]:
print(list1)

['one', 'two', 'three', 'eleven', 'four', 'five', 'six', 'six', 'seven', 'eight', 'nine', 'ten']

In [16]:
# Removing the elements from the list
list1

['one',
 'two',
 'three',
 'eleven',
 'four',
 'five',
 'six',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [18]:
# Removing the elements from the element with the help of index
print(list1)

list1.pop(1)

['one', 'two', 'three', 'eleven', 'four', 'five', 'six', 'six', 'seven', 'eight', 'nine', 'ten']

'two'

In [19]:
print(list1)

['one', 'three', 'eleven', 'four', 'five', 'six', 'six', 'seven', 'eight', 'nine', 'ten']

In [20]:
# removing the element with the hel-p of remove
list1.remove('five')

In [21]:
print(list1)

['one', 'three', 'eleven', 'four', 'six', 'six', 'seven', 'eight', 'nine', 'ten']

In [23]:
# remove the elements from the list with the help of delete
del list1[3]

In [24]:
print(list1)

['one', 'three', 'eleven', 'six', 'six', 'seven', 'eight', 'nine', 'ten']

In [25]:
del list1[6]

In [26]:
print(list1)

['one', 'three', 'eleven', 'six', 'six', 'seven', 'nine', 'ten']

In [27]:
# length of the list
length = len(list1)
print("Length of the list is:", length)

Length of the list is: 8

In [28]:
# List related keywords
lst = ['one','two','three','four','five']

if('four' in lst):
    print('four')

four

In [29]:
# Reverse the list
print(lst.reverse())

None

In [30]:
print(lst)

['five', 'four', 'three', 'two', 'one']

In [33]:
# sort = arranges the elements in the list in ascending or descending order
lst = ['six','seven','eight','nine','ten']
print(lst.sort(reverse = True))

None

In [34]:
print(lst)

['ten', 'six', 'seven', 'nine', 'eight']

In [37]:
lst = ['eleven','twelve','thirteen','fourteen','fifteen']
print(lst.sort(reverse = False))

None

In [38]:
print(lst)

['eleven', 'fifteen', 'fourteen', 'thirteen', 'twelve']

In [42]:
ken = [10,20,30,40,50,60,70,80,90,100]
print(ken.sort(reverse = False))
print(ken)

None
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [43]:
print(ken.sort(reverse = True))
print(ken)

None
[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [44]:
# lists having multiple references
numbers = [12,22,32,42,52,62,72,82,92,102]

# here we are copying the reference of one list into another list
abs = numbers

print(numbers)

print(abs)

[12, 22, 32, 42, 52, 62, 72, 82, 92, 102]
[12, 22, 32, 42, 52, 62, 72, 82, 92, 102]

In [54]:
# Indexing in the lists
numbers = [10,20,30,40,50,60,70,80]
print(numbers[:]) # extract all the elements
print(numbers[0:4]) # extract first four elements


# alternate elements in the list
print(numbers[::2])
print(numbers[::-2])
print(numbers[::3])
print(numbers[2::2])
print(numbers[-2:-5:-2])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]
[10, 30, 50, 70]
[80, 60, 40, 20]
[10, 40, 70]
[30, 50, 70]
[70, 50]

In [55]:
# Extend using "+"

list1 = [1,2,3,4]

list2 = ['verma','naveen','murali','brahma']

print(list1 + list2)

[1, 2, 3, 4, 'verma', 'naveen', 'murali', 'brahma']

In [60]:
# list count = computes the number of elements from the list
lis = [1,1,2,2,2,3,3,3,3,3,4,4,4,4,4,5,5,5,5,5,5,6,6,6,7,7,7,7,8,8,8,8,9,9,9]
print(lis.count(7))

4

In [61]:
# looping in the list
list1 = [1,2,3,4]
for i in list1:
    print(i, end = ' ')

1 2 3 4

In [64]:
# Nested Lists
# Nested Lists
matrix = [[1,2,3,4],
           [5,6,7,8],
           [9,10,11,12]]

print(matrix[0][2])
print(matrix[1][3])
print(matrix[0][3])

3
8
4

In [83]:
# list comprehension
a = [ (i **2) for i in range(1,11) if(i != 0)]
print(a)

k = [ i  for i in range(1,20) if(i % 2 == 0)]
print(k)

# first letter in the word
str = "Parag Pujari is working"
y = str.split(' ')
print(y)
  
res = [i[0] for i in y  if(i != ' ')]
print(res)

# Fatten the list of list into a single list
lists = [[1,2,3],[4,5,6],[7,8,9]]
res = [j for i in lists for j in i]
print(res)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
['Parag', 'Pujari', 'is', 'working']
['P', 'P', 'i', 'w']
[1, 2, 3, 4, 5, 6, 7, 8, 9]